[Unit]
Description=SSH Monitor
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/homelab/ssh-monitor.py

[Install]
WantedBy=multi-user.target
